#env
.venv/
.vscode/
__pycache__/
arduino/
logs/

#YOLO image
YOLO/image_test/
YOLO/shuttle.v1i.yolov8/
YOLO/shuttle.v2i.yolov8/
YOLO/shuttle.v3i.yolov5pytorch/
YOLO/stock/
YOLO/runs/
YOLO/runs-v5n/


*.txt
*.jpg
*.png
*.zip